h1 {
    color: crimson;
    font-family:sans-serif;
    margin: 0px 0px 0px 15px;
}

h2 {
    color:crimson;
    font-family:sans-serif;
    border-bottom: dotted;
    border-width: 4px;
    border-color: crimson;
}

h3 {
    color:crimson;
    font-family:sans-serif;

}
.overview {
    font-family:italic;
}
header {
    background-color: #eee;
    padding: 10px;
    border-bottom: solid;
    border-width: 1px;
    border-color: silver;
    
}
th {
    padding: 10px;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-color: silver;

}
td {
    padding: 10px;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-color: silver;
}
table {
    border-collapse: collapse;
}
footer {
    background-color: #eee;
    padding: 10px;
    border-top: solid;
    border-width: 1px;
    border-color: silver;
}
main {
    padding: 10px;
}

body {
    margin:0;
}

.numbers-box {
    height: 60px;
    width: 60px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    position: fixed;
    right: 5px;
    bottom: 5px;
    border-top: solid;
    border-width: 1px;
    border-color: black ; 
} 
.color-box {
    width: 25px;
    height: 25px;   
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    position: absolute;
}

.color-box-1 {
    background-color: yellowgreen;
    top: 0;
    left: 0;
}

.color-box-2 {
    background-color: orange;
    top: 1;
    right: 0;

}
.color-box-3 {
    background-color: skyblue;
    right: 0;
    bottom: 0;
}
.color-box-4 {
   background-color: violet;
    top: 1;
    bottom: 0;
}
#profile-pic {
    height: 300px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: silver;
    padding: 2px;
    float: right;
    left: 10px;

}
#joke {
    background-color: white;
    padding: 40px;
    width: 50%;
    margin: 0 auto;
    border-width: 2px;
    border-style: solid;
    border-color: silver;
    border-bottom: red;
    border-style: solid;
    border-width: 4px;
    
}
.nav-list {
    list-style-type: none;
    padding: 0;


}
.nav-list li {
    display: inline;
    margin: .5em;
}
footer li img {
    width: 16px;
}